flows_prettyflypi.json
[{"id":"b380ea3.5456418","type":"tab","label":"Test Hydro","disabled":true,"info":""},{"id":"f96f5bad.c1be68","type":"tab","label":"Test Hydro Device","disabled":true,"info":""},{"id":"fc63f1e1.59ede","type":"tab","label":"Hyrdo Prod Flow","disabled":true,"info":""},{"id":"83b19753.1af4a8","type":"tab","label":"IR Test Flow","disabled":true,"info":""},{"id":"3858decf.0fe052","type":"tab","label":"Alexa Flows","disabled":true,"info":""},{"id":"7d076915.bef778","type":"tab","label":"AWS Flows","disabled":true,"info":""},{"id":"ecafbd20.fc3e8","type":"tab","label":"HASS Test Flow","disabled":true,"info":""},{"id":"9abde8e2.4b7518","type":"tab","label":"Misc","disabled":true,"info":""},{"id":"180daee1.f8c5a1","type":"tab","label":"LIVE SONOFF RF Test Flows","disabled":false,"info":""},{"id":"7c38d180.0695d","type":"tab","label":"HASS Prod Flow","disabled":false,"info":""},{"id":"53b9a091.ecbea","type":"tab","label":"Heating Flows","disabled":false,"info":""},{"id":"91083d3a.54dc1","type":"tab","label":"Automation Switches","disabled":false,"info":""},{"id":"3ab1b3d8.bd433c","type":"tab","label":"Notifications","disabled":false,"info":""},{"id":"4d41c343.3ed7d4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"aeb6abf8.6695","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"b113ebbe.a57308","type":"mqtt-broker","z":"","name":"","broker":"mqtt","port":"1883","clientid":"node-red-pi","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"iot/nodered/status","birthQos":"0","birthRetain":"true","birthPayload":"connected","closeTopic":"","closePayload":"","willTopic":"iot/nodered/status","willQos":"0","willRetain":"true","willPayload":"disconnected"},{"id":"76993064.c8927","type":"alexa-home-conf","z":"","username":"markc303"},{"id":"df8c46b8.7f5ff8","type":"server","z":"","name":"Home Assistant (dev)","legacy":false,"hassio":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true},{"id":"a6a7a981.db5148","type":"profile","z":"","name":"Weekday Profile","time1":"00:00","temp1":"18","time2":"05:00","temp2":"21","time3":"07:00","temp3":"18","time4":"18:00","temp4":"21","time5":"20:00","temp5":"18","time6":"23:59","temp6":"18","time7":"","temp7":"","time8":"","temp8":"","time9":"","temp9":"","time10":"","temp10":""},{"id":"662613ce.27d1dc","type":"profile","z":"","name":"Flat Profile (floor)","time1":"00:00","temp1":"22","time2":"23:59","temp2":"22","time3":"","temp3":"","time4":"","temp4":"","time5":"","temp5":"","time6":"","temp6":"","time7":"","temp7":"","time8":"","temp8":"","time9":"","temp9":"","time10":"","temp10":""},{"id":"a4a1abdf.7ba5b8","type":"server","z":"","name":"Home Assistant (prod)","legacy":false,"hassio":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true},{"id":"6a77b178.df07e8","type":"profile","z":"","name":"Central Heating Timer (Weekday)","time1":"00:00","temp1":"0","time2":"05:30","temp2":"0","time3":"05:30","temp3":"25","time4":"08:30","temp4":"25","time5":"08:30","temp5":"0","time6":"18:30","temp6":"0","time7":"18:30","temp7":"25","time8":"22:30","temp8":"25","time9":"22:30","temp9":"0","time10":"23:59","temp10":"0"},{"id":"f4bd15ce.d7f57","type":"profile","z":"","name":"Central Heating Timer (Weekend)","time1":"00:00","temp1":"0","time2":"05:30","temp2":"25","time3":"08:30","temp3":"0","time4":"12:00","temp4":"25","time5":"17:00","temp5":"0","time6":"21:30","temp6":"25","time7":"23:00","temp7":"0","time8":"23:59","temp8":"0","time9":"","temp9":"","time10":"","temp10":""},{"id":"966c07b8.c25848","type":"inject","z":"b380ea3.5456418","name":"Pump Start Interval","topic":"iot/home/hydro/pump/state","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":129.5,"y":185,"wires":[["cd099026.82e67","dff5c3a5.c99b9"]]},{"id":"fd7db601.d2d088","type":"mqtt out","z":"b380ea3.5456418","name":"","topic":"iot/home/hydro/pump/set","qos":"","retain":"true","broker":"b113ebbe.a57308","x":570,"y":120,"wires":[]},{"id":"37ea6ff2.efeea","type":"mqtt out","z":"b380ea3.5456418","name":"","topic":"iot/home/hydro/pump/set","qos":"","retain":"","broker":"b113ebbe.a57308","x":582,"y":243,"wires":[]},{"id":"208448e4.3e5098","type":"debug","z":"b380ea3.5456418","name":"","active":true,"console":"false","complete":"false","x":539.5,"y":294,"wires":[]},{"id":"dff5c3a5.c99b9","type":"delay","z":"b380ea3.5456418","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":192.5,"y":288,"wires":[["faa906d1.6e6a18"]]},{"id":"cd099026.82e67","type":"template","z":"b380ea3.5456418","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n  \"status\": \"ON\",\n  \"timestamp\": \"9234801090400\",\n  \"client\": \"node-red\"\n}","output":"str","x":350.5,"y":183,"wires":[["fd7db601.d2d088","fa062dc.913a9d"]]},{"id":"faa906d1.6e6a18","type":"template","z":"b380ea3.5456418","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n  \"status\": \"OFF\",\n  \"timestamp\": \"9234801090400\",\n  \"client\": \"node-red\"\n}","output":"str","x":361,"y":275,"wires":[["37ea6ff2.efeea","208448e4.3e5098"]]},{"id":"6b3162de.02407c","type":"inject","z":"b380ea3.5456418","name":"Get Level","topic":"/iot/hydro/hydro-main/level/set","payload":"get-level","payloadType":"str","repeat":"1800","crontab":"","once":true,"x":160.5,"y":423,"wires":[["dcf8e825.ff5508","b2fdd235.52996"]]},{"id":"dcf8e825.ff5508","type":"mqtt out","z":"b380ea3.5456418","name":"","topic":"iot/home/hydro/pump/level","qos":"","retain":"","broker":"b113ebbe.a57308","x":443.5,"y":408,"wires":[]},{"id":"b2fdd235.52996","type":"debug","z":"b380ea3.5456418","name":"","active":true,"console":"false","complete":"false","x":414.5,"y":468,"wires":[]},{"id":"1cae32c2.fd2dcd","type":"mqtt in","z":"f96f5bad.c1be68","name":"Receive Level Request","topic":"iot/home/hydro/pump/level","qos":"2","broker":"b113ebbe.a57308","x":197.5,"y":96,"wires":[["b30a33db.d0197"]]},{"id":"936dee29.4170e","type":"mqtt out","z":"f96f5bad.c1be68","name":"Send Level","topic":"/iot-test/hydro/hydro-main/level","qos":"","retain":"true","broker":"b113ebbe.a57308","x":642.5,"y":84,"wires":[]},{"id":"b30a33db.d0197","type":"template","z":"f96f5bad.c1be68","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"level\":\"123\"}","output":"str","x":446.5,"y":92,"wires":[["936dee29.4170e"]]},{"id":"90e52247.8949","type":"mqtt in","z":"f96f5bad.c1be68","name":"Pump Status Change","topic":"iot/home/hydro/pump/state","qos":"2","broker":"b113ebbe.a57308","x":195,"y":199,"wires":[["bca50060.8df7c"]]},{"id":"bca50060.8df7c","type":"mqtt out","z":"f96f5bad.c1be68","name":"Send Level","topic":"iot/home/hydro/pump/state","qos":"","retain":"true","broker":"b113ebbe.a57308","x":602,"y":213,"wires":[]},{"id":"f7380a22.d36088","type":"inject","z":"fc63f1e1.59ede","name":"Trigger at start","topic":"null","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"x":122.5,"y":69,"wires":[["a9b2121a.15494"]]},{"id":"fa062dc.913a9d","type":"debug","z":"b380ea3.5456418","name":"","active":true,"console":"false","complete":"false","x":550,"y":200,"wires":[]},{"id":"a708cc09.44af7","type":"json","z":"fc63f1e1.59ede","name":"","pretty":false,"x":557.5,"y":85,"wires":[["92a94855.ac4568","9aceba0a.e685e8"]]},{"id":"a9b2121a.15494","type":"file in","z":"fc63f1e1.59ede","name":"Read Hydro Config Data","filename":".node-red/data/hydro-config.json","format":"utf8","chunk":false,"sendError":false,"x":365.5,"y":85,"wires":[["a708cc09.44af7"]]},{"id":"92a94855.ac4568","type":"function","z":"fc63f1e1.59ede","name":"Timing Calc","func":"var interval = msg.payload[\"pump-interval-min\"];\nvar duration = msg.payload[\"pump-duration-secs\"];\n\nvar d = new Date();\nvar minsSinceMid = (d.getHours() * 60) + d.getMinutes();\n\n\nif (minsSinceMid % interval === 0) {\n    msg.delay = duration*1000;\n    return msg;\n} else { \n    return null;\n}\n\n","outputs":1,"noerr":0,"x":116.5,"y":226,"wires":[["f34b638f.2067b","b4976c33.79bde"]]},{"id":"7ad22e46.7bc76","type":"debug","z":"fc63f1e1.59ede","name":"","active":true,"console":"false","complete":"payload","x":788.5,"y":278,"wires":[]},{"id":"f34b638f.2067b","type":"delay","z":"fc63f1e1.59ede","name":"delay for off message","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":141.5,"y":338,"wires":[["9334495a.c5b548"]]},{"id":"b4976c33.79bde","type":"template","z":"fc63f1e1.59ede","name":"ON JSON","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"status\": \"ON\",\n  \"timestamp\": \"9234801090400\",\n  \"client\": \"node-red\"\n}","output":"str","x":284.5,"y":234,"wires":[["22aa2d12.60eed2"]]},{"id":"9334495a.c5b548","type":"template","z":"fc63f1e1.59ede","name":"OFF JSON","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"status\": \"OFF\",\n  \"timestamp\": \"9234801090400\",\n  \"client\": \"node-red\"\n}","output":"str","x":330,"y":338,"wires":[["748b526f.95e67c"]]},{"id":"6b7738b1.13e098","type":"debug","z":"fc63f1e1.59ede","name":"","active":true,"console":"false","complete":"false","x":817.5,"y":361,"wires":[]},{"id":"22aa2d12.60eed2","type":"json","z":"fc63f1e1.59ede","name":"","pretty":false,"x":447.5,"y":232,"wires":[["b2fb4e9a.005da"]]},{"id":"b2fb4e9a.005da","type":"function","z":"fc63f1e1.59ede","name":"Add time","func":"var d = new Date();\nvar timestamp = d.toJSON();\n\nmsg.payload[\"timestamp\"] = timestamp;\n\nreturn msg;","outputs":1,"noerr":0,"x":587.5,"y":232,"wires":[["7ad22e46.7bc76","5c020de2.841054"]]},{"id":"748b526f.95e67c","type":"json","z":"fc63f1e1.59ede","name":"","pretty":false,"x":470,"y":347,"wires":[["eb677bb.8d40288"]]},{"id":"eb677bb.8d40288","type":"function","z":"fc63f1e1.59ede","name":"Add time","func":"var d = new Date();\nvar timestamp = d.toJSON();\n\nmsg.payload[\"timestamp\"] = timestamp;\n\nreturn msg;","outputs":1,"noerr":0,"x":597,"y":348,"wires":[["6b7738b1.13e098","3875603.c5e5da"]]},{"id":"ae00fa7.9324c08","type":"mqtt in","z":"fc63f1e1.59ede","name":"Interval Update Msg","topic":"iot/hydro/config/interval","qos":"2","broker":"b113ebbe.a57308","x":95,"y":444,"wires":[["81e91b24.363e98"]]},{"id":"92d6fe16.3af5e","type":"inject","z":"fc63f1e1.59ede","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":88.5,"y":805,"wires":[["8a6b3098.aba5d"]]},{"id":"8a6b3098.aba5d","type":"template","z":"fc63f1e1.59ede","name":"interval","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"pump-interval-min\":\"5\",\n    \"timestamp\": \"2012-04-23T18:25:43.511Z\",\n    \"client\": \"node-red\"\n}","output":"str","x":249.5,"y":803,"wires":[["79c70608.a94e78"]]},{"id":"79c70608.a94e78","type":"mqtt out","z":"fc63f1e1.59ede","name":"","topic":"iot/hydro/config/interval","qos":"","retain":"","broker":"b113ebbe.a57308","x":449.5,"y":811,"wires":[]},{"id":"81e91b24.363e98","type":"json","z":"fc63f1e1.59ede","name":"","pretty":false,"x":237,"y":484,"wires":[["19a13592.cf77ea"]]},{"id":"19a13592.cf77ea","type":"function","z":"fc63f1e1.59ede","name":"","func":"//var flowContext = this.context().flow;\n\n//var interval = msg.payload[\"pump-interval-min\"];\n//var client = msg.payload[\"client\"];\n\nflow.set(\"interval\", msg.payload[\"pump-interval-min\"]);\nflow.set(\"client\", msg.payload[\"client\"]);\n\nreturn msg;","outputs":1,"noerr":0,"x":325.5,"y":524,"wires":[["e2eefa68.cf2948"]]},{"id":"caf8482a.449a88","type":"json","z":"fc63f1e1.59ede","name":"","pretty":false,"x":610,"y":477,"wires":[["e7ff80cd.391fb"]]},{"id":"e2eefa68.cf2948","type":"file in","z":"fc63f1e1.59ede","name":"Read Hydro Config Data","filename":".node-red/data/hydro-config.json","format":"utf8","chunk":false,"sendError":true,"x":435,"y":445,"wires":[["caf8482a.449a88"]]},{"id":"319bd4fd.3a1c6c","type":"comment","z":"fc63f1e1.59ede","name":"Confg Msgs","info":"//For pump interval\n{\n    \"pump-interval-min\":\"5\",\n    \"timestamp\": \"2012-04-23T18:25:43.511Z\",\n    \"client\": \"client-id\"\n}\n\n//For pump duration\n{\n    \"pump-duration-secs\":\"5\",\n    \"timestamp\": \"2012-04-23T18:25:43.511Z\",\n    \"client\": \"client-id\"\n}","x":75,"y":406,"wires":[]},{"id":"53ff950a.bb8a4c","type":"template","z":"fc63f1e1.59ede","name":"duration","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"pump-duration-secs\":\"15\",\n    \"timestamp\": \"2012-04-23T18:25:43.511Z\",\n    \"client\": \"node-red\"\n}","output":"str","x":241,"y":858,"wires":[["f5d6ca7e.998e18"]]},{"id":"87d845eb.533858","type":"inject","z":"fc63f1e1.59ede","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":80,"y":860,"wires":[["53ff950a.bb8a4c"]]},{"id":"f5d6ca7e.998e18","type":"mqtt out","z":"fc63f1e1.59ede","name":"","topic":"iot/hydro/config/duration","qos":"","retain":"","broker":"b113ebbe.a57308","x":441,"y":866,"wires":[]},{"id":"e7ff80cd.391fb","type":"function","z":"fc63f1e1.59ede","name":"Add time & updates","func":"var d = new Date();\nvar timestamp = d.toJSON();\n\nmsg.payload[\"pump-interval-min\"] = flow.get(\"interval\");\nmsg.payload[\"last-updated-time\"] = timestamp;\nmsg.payload[\"last-updated-by\"] = flow.get(\"client\");\n\nreturn msg;","outputs":1,"noerr":0,"x":656,"y":531,"wires":[["577cecab.3f7c64","33907d7e.bf69e2"]]},{"id":"3ccc7767.300d78","type":"file","z":"fc63f1e1.59ede","name":"","filename":".node-red/data/hydro-config.json","appendNewline":false,"createDir":false,"overwriteFile":"true","x":858.5,"y":584,"wires":[[]]},{"id":"577cecab.3f7c64","type":"debug","z":"fc63f1e1.59ede","name":"","active":true,"console":"false","complete":"false","x":832.5,"y":497,"wires":[]},{"id":"33907d7e.bf69e2","type":"json","z":"fc63f1e1.59ede","name":"","pretty":true,"x":645.5,"y":585,"wires":[["3ccc7767.300d78"]]},{"id":"796726f7.034778","type":"mqtt in","z":"fc63f1e1.59ede","name":"Duration Update Msg","topic":"iot/hydro/config/duration","qos":"2","broker":"b113ebbe.a57308","x":105,"y":621,"wires":[["3b3a71d2.34d3de"]]},{"id":"3b3a71d2.34d3de","type":"json","z":"fc63f1e1.59ede","name":"","pretty":false,"x":237,"y":661,"wires":[["c0d37a04.1f4ed8"]]},{"id":"c0d37a04.1f4ed8","type":"function","z":"fc63f1e1.59ede","name":"","func":"flow.set(\"duration\", msg.payload[\"pump-duration-secs\"]);\nflow.set(\"client\", msg.payload[\"client\"]);\n\nreturn msg;","outputs":1,"noerr":0,"x":325.5,"y":701,"wires":[["f7aa7110.bb43c"]]},{"id":"f7aa7110.bb43c","type":"file in","z":"fc63f1e1.59ede","name":"Read Hydro Config Data","filename":".node-red/data/hydro-config.json","format":"utf8","chunk":false,"sendError":true,"x":429,"y":618,"wires":[["6d5e7d74.f64f64"]]},{"id":"6d5e7d74.f64f64","type":"json","z":"fc63f1e1.59ede","name":"","pretty":false,"x":586,"y":650,"wires":[["cc77878b.100358"]]},{"id":"cc77878b.100358","type":"function","z":"fc63f1e1.59ede","name":"Add time & updates","func":"var d = new Date();\nvar timestamp = d.toJSON();\n\nmsg.payload[\"pump-duration-secs\"] = flow.get(\"duration\");\nmsg.payload[\"last-updated-time\"] = timestamp;\nmsg.payload[\"last-updated-by\"] = flow.get(\"client\");\n\nreturn msg;","outputs":1,"noerr":0,"x":645,"y":706,"wires":[["ef33b122.4461e","8193a2ca.b208c"]]},{"id":"ef33b122.4461e","type":"debug","z":"fc63f1e1.59ede","name":"","active":true,"console":"false","complete":"false","x":825.5,"y":673,"wires":[]},{"id":"8193a2ca.b208c","type":"json","z":"fc63f1e1.59ede","name":"","pretty":true,"x":643.5,"y":768,"wires":[["8ce4111.51a44f"]]},{"id":"8ce4111.51a44f","type":"file","z":"fc63f1e1.59ede","name":"","filename":".node-red/data/hydro-config.json","appendNewline":false,"createDir":false,"overwriteFile":"true","x":861.5,"y":768,"wires":[[]]},{"id":"99ab8de0.e916c","type":"comment","z":"fc63f1e1.59ede","name":"Test Config Messages","info":"//For pump interval\n{\n    \"pump-interval-min\":\"5\",\n    \"timestamp\": \"2012-04-23T18:25:43.511Z\",\n    \"client\": \"client-id\"\n}\n\n//For pump duration\n{\n    \"pump-duration-secs\":\"5\",\n    \"timestamp\": \"2012-04-23T18:25:43.511Z\",\n    \"client\": \"client-id\"\n}","x":108,"y":761,"wires":[]},{"id":"f14658dd.ea1eb8","type":"comment","z":"fc63f1e1.59ede","name":"Read Config and Send Messages","info":"","x":137,"y":32,"wires":[]},{"id":"2ad64b1a.9ef954","type":"catch","z":"fc63f1e1.59ede","name":"","scope":null,"x":136.5,"y":980,"wires":[[]]},{"id":"989bba7.5539548","type":"mqtt out","z":"fc63f1e1.59ede","name":"Error Alert","topic":"iot/error","qos":"0","retain":"","broker":"b113ebbe.a57308","x":465.5,"y":979,"wires":[]},{"id":"a384405a.6ea16","type":"comment","z":"fc63f1e1.59ede","name":"Catch Errors","info":"","x":75,"y":935,"wires":[]},{"id":"9aceba0a.e685e8","type":"debug","z":"fc63f1e1.59ede","name":"","active":false,"console":"false","complete":"payload","x":768,"y":128,"wires":[]},{"id":"5c020de2.841054","type":"mqtt out","z":"fc63f1e1.59ede","name":"","topic":"iot/home/hydro/pump/set","qos":"1","retain":"true","broker":"b113ebbe.a57308","x":813.5,"y":202,"wires":[]},{"id":"3875603.c5e5da","type":"mqtt out","z":"fc63f1e1.59ede","name":"","topic":"iot/home/hydro/pump/set","qos":"1","retain":"true","broker":"b113ebbe.a57308","x":834,"y":321,"wires":[]},{"id":"5bb64995.e7a6c8","type":"function","z":"fc63f1e1.59ede","name":"","func":"\nmsg = error.source.id + \" \" + error.source.type + \" \" + error.source.name\n\nreturn msg;","outputs":1,"noerr":0,"x":279.5,"y":981,"wires":[["989bba7.5539548"]]},{"id":"e2f18cfd.0ba97","type":"comment","z":"fc63f1e1.59ede","name":"Run NodeRed in home folder","info":"ie. parent folder of .node-red","x":942.5000076293945,"y":41.25000190734863,"wires":[]},{"id":"5c32750a.82e58c","type":"mqtt out","z":"83b19753.1af4a8","name":"","topic":"iot/ircontroller/send","qos":"","retain":"","broker":"b113ebbe.a57308","x":590,"y":360,"wires":[]},{"id":"11f4d5f0.b0d72a","type":"inject","z":"83b19753.1af4a8","name":"","topic":"","payload":"1,405,0,3","payloadType":"str","repeat":"","crontab":"","once":false,"x":380,"y":360,"wires":[["5c32750a.82e58c","e0e8be95.461f1"]]},{"id":"fbd0bfb6.487bc","type":"inject","z":"83b19753.1af4a8","name":"","topic":"","payload":"1,401,0,1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":380,"y":394,"wires":[["5c32750a.82e58c","e0e8be95.461f1"]]},{"id":"db62c153.b58ef","type":"mqtt out","z":"83b19753.1af4a8","name":"","topic":"iot/ircontroller/send","qos":"","retain":"","broker":"b113ebbe.a57308","x":590,"y":520,"wires":[]},{"id":"f526874.17bc378","type":"mqtt in","z":"83b19753.1af4a8","name":"TV commands","topic":"iot/media/tv/set","qos":"2","datatype":"auto","broker":"b113ebbe.a57308","x":160,"y":560,"wires":[["4600c67d.36a5f8"]]},{"id":"4600c67d.36a5f8","type":"function","z":"83b19753.1af4a8","name":"Find IR Command","func":"//32' SONY TV COMMANDS\n\nswitch(msg.payload) {\n\ncase \"ON\":\n    msg.payload = \"4,A90,0,1\";\nbreak;\n\ncase \"OFF\":\n    msg.payload = \"4,A90,0,1\";\nbreak;\n\ncase \"VOL_UP\":\n    msg.payload = \"4,490,0,1\";\nbreak;\n\ncase \"VOL_DOWN\":\n    msg.payload = \"4,C90,0,1\";\nbreak;\n\ncase \"CHAN_UP\":\n    msg.payload = \"4,090,0,1\";\nbreak;\n\ncase \"CHAN_DOWN\":\n    msg.payload = \"4,890,0,1\";\nbreak;\n\ncase \"MUTE\":\n    msg.payload = \"4,290,0,1\";\nbreak;\n\ncase \"1\":\n    msg.payload = \"4,010,0,1\";\nbreak;\n\ncase \"2\":\n    msg.payload = \"4,810,0,1\";\nbreak;\n\ncase \"3\":\n    msg.payload = \"4,410,0,1\";\nbreak;\n\ncase \"4\":\n    msg.payload = \"4,C10,0,1\";\nbreak;\n\ncase \"5\":\n    msg.payload = \"4,210,0,1\";\nbreak;\n\ncase \"6\":\n    msg.payload = \"4,A10,0,1\";\nbreak;\n\ncase \"7\":\n    msg.payload = \"4,610,0,1\";\nbreak;\n\ncase \"8\":\n    msg.payload = \"4,E10,0,1\";\nbreak;\n\ncase \"9\":\n    msg.payload = \"4,110,0,1\";\nbreak;\n\ncase \"0\":\n    msg.payload = \"4,910,0,1\";\nbreak;\n\ncase \"UP\":\n    msg.payload = \"4,2F0,0,1\";\nbreak;\n\ncase \"DOWN\":\n    msg.payload = \"4,AF0,0,1\";\nbreak;\n\ncase \"LEFT\":\n    msg.payload = \"4,2D0,0,1\";\nbreak;\n\ncase \"OK\":\n    msg.payload = \"4,A70,0,1\";\nbreak;\n\ncase \"RIGHT\":\n    msg.payload = \"4,CD0,0,1\";\nbreak;\n\ncase \"MENU\":\n    msg.payload = \"4,070,0,1\";\nbreak;\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":368.5,"y":562,"wires":[["db62c153.b58ef","8e9fdf29.4e09a"]]},{"id":"7129fca1.bf4ed4","type":"mqtt out","z":"83b19753.1af4a8","name":"","topic":"iot/media/tv/set","qos":"","retain":"","broker":"b113ebbe.a57308","x":640,"y":60,"wires":[]},{"id":"67c5d7ce.68ceb8","type":"inject","z":"83b19753.1af4a8","name":"","topic":"iot/media/tv/set","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"x":410,"y":60,"wires":[["7129fca1.bf4ed4","dda6430b.c0776"]]},{"id":"8e9fdf29.4e09a","type":"debug","z":"83b19753.1af4a8","name":"ircontroller/send","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":580,"y":600,"wires":[]},{"id":"dda6430b.c0776","type":"debug","z":"83b19753.1af4a8","name":"","active":true,"console":"false","complete":"payload","x":630,"y":100,"wires":[]},{"id":"186b3b39.561195","type":"comment","z":"83b19753.1af4a8","name":"Test TV ON ","info":"","x":210,"y":60,"wires":[]},{"id":"ae0863c1.8fba","type":"mqtt out","z":"83b19753.1af4a8","name":"","topic":"iot/ircontroller/send","qos":"","retain":"","broker":"b113ebbe.a57308","x":590,"y":640,"wires":[]},{"id":"4f285190.fb573","type":"mqtt in","z":"83b19753.1af4a8","name":"Amp commands","topic":"iot/media/amp/set","qos":"2","broker":"b113ebbe.a57308","x":160,"y":680,"wires":[["af1e140e.d03d68"]]},{"id":"af1e140e.d03d68","type":"function","z":"83b19753.1af4a8","name":"Find IR Command","func":"//AMP COMMANDS\n\nswitch(msg.payload) {\n\ncase \"CD\":\n    msg.payload = \"1,405,0,2\";\nbreak;\n\ncase \"BD/DVD\":\n    msg.payload = \"1,401,0,1\";\nbreak;\n \ncase \"TUNER\":\n    msg.payload = \"1,403,0,1\";\nbreak;\n\ncase \"VOL_UP\":\n    msg.payload = \"1,416,0,1\";\nbreak;\n\ncase \"VOL_DOWN\":\n    msg.payload = \"1,417,0,1\";\nbreak;\n\ncase \"MUTE\":\n    msg.payload = \"1,413,0,1\";\nbreak;\n\ncase \"ON\":\n    msg.payload = \"1,414,0,1\";\nbreak;\n\ncase \"OFF\":\n    msg.payload = \"1,415,0,1\";\nbreak;\n\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":368.5,"y":682,"wires":[["ae0863c1.8fba","8c579757.ea40d8"]]},{"id":"8c579757.ea40d8","type":"debug","z":"83b19753.1af4a8","name":"","active":true,"console":"false","complete":"payload","x":570,"y":720,"wires":[]},{"id":"b60126cd.570c58","type":"http in","z":"83b19753.1af4a8","name":"","url":"/test","method":"get","upload":false,"swaggerDoc":"","x":121.5,"y":1062,"wires":[["abff6294.387cc"]]},{"id":"abff6294.387cc","type":"change","z":"83b19753.1af4a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Hello","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":1060,"wires":[["4f64a704.5c0638"]]},{"id":"4f64a704.5c0638","type":"http response","z":"83b19753.1af4a8","name":"","statusCode":"200","headers":{},"x":629.5,"y":1056,"wires":[]},{"id":"4511da92.bf6f24","type":"alexa-home","z":"3858decf.0fe052","conf":"76993064.c8927","device":"24907","acknoledge":true,"name":"TV","topic":"","x":110,"y":200,"wires":[["785e316c.93a59"]]},{"id":"2b41aabb.af8e76","type":"mqtt out","z":"3858decf.0fe052","name":"","topic":"iot/media/tv/set","qos":"","retain":"","broker":"b113ebbe.a57308","x":740,"y":80,"wires":[]},{"id":"785e316c.93a59","type":"switch","z":"3858decf.0fe052","name":"On or Off or Vol","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"eq","v":"IncrementPercentageRequest","vt":"str"},{"t":"eq","v":"DecrementPercentageRequest","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":280,"y":200,"wires":[["933b6b84.588b08","18780895.a0ed37","4fe47c4b.9a6e34"],["5cd3a981.6e07d8"],["1b94bc16.81dca4"],["51163b19.7ba8d4"]]},{"id":"933b6b84.588b08","type":"change","z":"3858decf.0fe052","name":"ON - TV","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":80,"wires":[["2b41aabb.af8e76"]]},{"id":"5cd3a981.6e07d8","type":"change","z":"3858decf.0fe052","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":160,"wires":[["2b41aabb.af8e76"]]},{"id":"f543e24b.8d07f","type":"alexa-home","z":"3858decf.0fe052","conf":"76993064.c8927","device":"24906","acknoledge":true,"name":"SONOS","topic":"","x":110,"y":340,"wires":[["c1b6f38f.d1369"]]},{"id":"8a9b4be0.c052b8","type":"mqtt out","z":"3858decf.0fe052","name":"","topic":"iot/media/amp/set","qos":"","retain":"","broker":"b113ebbe.a57308","x":720.5,"y":318,"wires":[]},{"id":"c1b6f38f.d1369","type":"switch","z":"3858decf.0fe052","name":"On or Off","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"}],"checkall":"true","outputs":2,"x":290.5,"y":338,"wires":[["29fd7317.4c9bdc"],["54d5a9df.edf7f8"]]},{"id":"29fd7317.4c9bdc","type":"change","z":"3858decf.0fe052","name":"ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"CD","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440.5,"y":318,"wires":[["8a9b4be0.c052b8"]]},{"id":"54d5a9df.edf7f8","type":"change","z":"3858decf.0fe052","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"BD/DVD","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440.5,"y":378,"wires":[["8a9b4be0.c052b8"]]},{"id":"2b1217fe.99d1b8","type":"alexa-home","z":"3858decf.0fe052","conf":"76993064.c8927","device":"24908","acknoledge":true,"name":"Vinyl","topic":"","x":110,"y":460,"wires":[["ea66abf6.868228"]]},{"id":"307f2a4f.495a46","type":"mqtt out","z":"3858decf.0fe052","name":"","topic":"iot/media/amp/set","qos":"","retain":"","broker":"b113ebbe.a57308","x":720.5,"y":438,"wires":[]},{"id":"ea66abf6.868228","type":"switch","z":"3858decf.0fe052","name":"On or Off","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"}],"checkall":"true","outputs":2,"x":290.5,"y":458,"wires":[["2656f6e0.4bac8a"],["df1fe0bc.5fe3f"]]},{"id":"2656f6e0.4bac8a","type":"change","z":"3858decf.0fe052","name":"ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"TUNER","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440.5,"y":438,"wires":[["307f2a4f.495a46"]]},{"id":"df1fe0bc.5fe3f","type":"change","z":"3858decf.0fe052","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"BD/DVD","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440.5,"y":498,"wires":[["307f2a4f.495a46"]]},{"id":"d5f3f442.78cc88","type":"alexa-home","z":"3858decf.0fe052","conf":"76993064.c8927","device":"25406","acknoledge":true,"name":"Netflix","topic":"","x":130,"y":960,"wires":[["93fa26c3.f7ce78"]]},{"id":"93fa26c3.f7ce78","type":"switch","z":"3858decf.0fe052","name":"On or Off","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"}],"checkall":"true","outputs":2,"x":290.5,"y":958,"wires":[["51a84ded.485454","58084f24.b4bf4"],["6a587ae6.c7ce04"]]},{"id":"6a587ae6.c7ce04","type":"change","z":"3858decf.0fe052","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"BD/DVD","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":1040,"wires":[["77d258f7.8a63b8"]]},{"id":"97bea77d.8a4b18","type":"mqtt out","z":"3858decf.0fe052","name":"","topic":"iot/media/amp/set","qos":"","retain":"","broker":"b113ebbe.a57308","x":750,"y":160,"wires":[]},{"id":"18780895.a0ed37","type":"change","z":"3858decf.0fe052","name":"ON - AMP","rules":[{"t":"set","p":"payload","pt":"msg","to":"BD/DVD","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":120,"wires":[["97bea77d.8a4b18"]]},{"id":"f96c0900.604078","type":"mqtt out","z":"3858decf.0fe052","name":"","topic":"iot/media/amp/set","qos":"","retain":"","broker":"b113ebbe.a57308","x":730,"y":1020,"wires":[]},{"id":"58084f24.b4bf4","type":"change","z":"3858decf.0fe052","name":"ON - AMP","rules":[{"t":"set","p":"payload","pt":"msg","to":"BD/DVD","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":980,"wires":[["f96c0900.604078"]]},{"id":"51a84ded.485454","type":"change","z":"3858decf.0fe052","name":"ON - TV","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":940,"wires":[["77d258f7.8a63b8"]]},{"id":"77d258f7.8a63b8","type":"mqtt out","z":"3858decf.0fe052","name":"","topic":"iot/media/tv/set","qos":"","retain":"","broker":"b113ebbe.a57308","x":720,"y":940,"wires":[]},{"id":"1b94bc16.81dca4","type":"change","z":"3858decf.0fe052","name":"VOL UP","rules":[{"t":"set","p":"payload","pt":"msg","to":"UP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":200,"wires":[["e5b908d3.d08288"]]},{"id":"e5b908d3.d08288","type":"mqtt out","z":"3858decf.0fe052","name":"","topic":"iot/media/amp/vol","qos":"","retain":"","broker":"b113ebbe.a57308","x":750,"y":220,"wires":[]},{"id":"51163b19.7ba8d4","type":"change","z":"3858decf.0fe052","name":"VOL DOWN","rules":[{"t":"set","p":"payload","pt":"msg","to":"DOWN","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":240,"wires":[["e5b908d3.d08288"]]},{"id":"1fc209c3.09c3e6","type":"comment","z":"83b19753.1af4a8","name":"Test CD ON","info":"","x":210,"y":360,"wires":[]},{"id":"88b9f98f.4e5c88","type":"comment","z":"83b19753.1af4a8","name":"Test BD/DVD ON","info":"","x":200,"y":400,"wires":[]},{"id":"819ba367.bba7d","type":"alexa-home","z":"3858decf.0fe052","conf":"76993064.c8927","device":"25681","acknoledge":true,"name":"TV sound","topic":"","x":120,"y":680,"wires":[["47acc084.8aa54"]]},{"id":"47acc084.8aa54","type":"switch","z":"3858decf.0fe052","name":"On or Off or Vol","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"eq","v":"IncrementPercentageRequest","vt":"str"},{"t":"eq","v":"DecrementPercentageRequest","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":280,"y":680,"wires":[["931d346d.98f688"],[],["a13cbe5.ff9aa4"],["e9a11dc6.51d34"]]},{"id":"8f381a6f.d4a7d8","type":"mqtt out","z":"3858decf.0fe052","name":"","topic":"iot/media/amp/set","qos":"","retain":"","broker":"b113ebbe.a57308","x":750,"y":640,"wires":[]},{"id":"931d346d.98f688","type":"change","z":"3858decf.0fe052","name":"ON - AMP","rules":[{"t":"set","p":"payload","pt":"msg","to":"BD/DVD","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":640,"wires":[["8f381a6f.d4a7d8"]]},{"id":"a13cbe5.ff9aa4","type":"change","z":"3858decf.0fe052","name":"VOL UP","rules":[{"t":"set","p":"payload","pt":"msg","to":"UP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":700,"wires":[["d0a1272e.56c958"]]},{"id":"d0a1272e.56c958","type":"mqtt out","z":"3858decf.0fe052","name":"","topic":"iot/media/amp/vol","qos":"","retain":"","broker":"b113ebbe.a57308","x":750,"y":720,"wires":[]},{"id":"e9a11dc6.51d34","type":"change","z":"3858decf.0fe052","name":"VOL DOWN","rules":[{"t":"set","p":"payload","pt":"msg","to":"DOWN","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":740,"wires":[["d0a1272e.56c958"]]},{"id":"a3dfb3e2.f5191","type":"alexa-home","z":"3858decf.0fe052","conf":"76993064.c8927","device":"25682","acknoledge":true,"name":"Amp sound","topic":"","x":110,"y":820,"wires":[["2a14b390.b30b8c"]]},{"id":"2a14b390.b30b8c","type":"switch","z":"3858decf.0fe052","name":"On or Off or Vol","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"IncrementPercentageRequest","vt":"str"},{"t":"eq","v":"DecrementPercentageRequest","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":280,"y":820,"wires":[["8fc7c445.91a718"],["fe4ce1fc.add44"]]},{"id":"8fc7c445.91a718","type":"change","z":"3858decf.0fe052","name":"VOL UP","rules":[{"t":"set","p":"payload","pt":"msg","to":"UP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":800,"wires":[["8b6216db.83f138"]]},{"id":"8b6216db.83f138","type":"mqtt out","z":"3858decf.0fe052","name":"","topic":"iot/media/amp/vol","qos":"","retain":"","broker":"b113ebbe.a57308","x":750,"y":820,"wires":[]},{"id":"fe4ce1fc.add44","type":"change","z":"3858decf.0fe052","name":"VOL DOWN","rules":[{"t":"set","p":"payload","pt":"msg","to":"DOWN","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":840,"wires":[["8b6216db.83f138"]]},{"id":"df96765.bb9fc88","type":"mqtt out","z":"83b19753.1af4a8","name":"","topic":"iot/ircontroller/send","qos":"","retain":"","broker":"b113ebbe.a57308","x":590,"y":800,"wires":[]},{"id":"2d6c20cf.8b7bd","type":"mqtt in","z":"83b19753.1af4a8","name":"SAT commands","topic":"iot/media/sat/set","qos":"2","broker":"b113ebbe.a57308","x":120,"y":840,"wires":[["c7e17d69.c93e9"]]},{"id":"c7e17d69.c93e9","type":"function","z":"83b19753.1af4a8","name":"Find IR Command","func":"//YOUVIEW COMMANDS\nvar on = \"226,1070,202,2278,204,718,226,2850,204,1316,176,1344,200,1594,204,1590,204,12320,204,1040,200,2826,204,718,224,748,224,748,224,2850,204,744,200,746,226\";\nvar chandown = \"226,1020,226,2302,204,768,176,2852,204,1316,200,1320,200,1594,204,1590,204,12342,206,1018,194,728,224,748,224,748,224,798,200,2690,204,718,224,748\";\nvar mute = \"236,1036,192,2286,168,802,170,2858,170,1354,166,1352,168,1626,170,1624,168,12356,170,1078,170,1074,170,802,170,804,168,802,170,2446,170,802,170,802,174\";\nvar chanup = \"228,1022,224,2304,202,720,224,2852,204,1316,200,1320,200,1594,204,1588,204,12320,204,1040,176,902,208,746,224,748,224,748,224,2578,204,720,224,770,204\";\nvar up = \"224,1072,202,2278,202,720,224,2852,202,1316,200,1320,200,1594,204,1590,204,12320,204,1040,200,1046,202,2004,202,768,176,1070,202,906,200,772,176,746,224\";\nvar left = \"228,1020,226,2304,202,720,224,2852,204,1316,200,1320,174,1620,204,1590,204,12322,204,1040,176,2030,202,764,204,724,224,1070,176,1208,200,766,206,724,224\";\nvar right = \"228,1020,226,2302,204,718,226,2850,204,1316,176,1344,176,1618,204,1590,204,12318,206,1040,176,1892,204,718,226,746,226,1070,176,1344,176,748,224,796,176\";\nvar down = \"228,1042,206,2302,204,720,224,2852,202,1318,200,1320,200,1594,204,1590,204,12320,204,1042,202,2140,202,722,222,798,200,1046,200,1046,200,766,206,722,224\";\nvar ok = \"228,1020,226,2304,202,720,224,2852,202,1318,174,1346,198,1594,202,1592,202,12322,204,1040,174,1756,202,760,184,798,176,1072,174,1480,174,748,224,778,194\";\n\nvar one = \"226,1072,176,2304,204,718,226,2848,206,1316,176,1344,176,1618,204,1588,206,12318,228,1016,176,1344,176,2028,204,718,226,796,176,932,176,746,226,794,178\";\nvar two = \"224,1072,200,2280,204,720,224,2850,204,1316,176,1346,176,1618,204,1590,204,12320,204,1040,180,1202,176,2030,204,716,226,748,226,1070,198,774,176,796,176\";\nvar three = \"228,1070,178,2300,206,748,196,2850,206,1316,176,1344,176,1618,206,1610,206,12296,206,1040,178,2302,206,766,178,746,226,792,180,1206,176,746,226,796,176\";\nvar four = \"230,1020,226,2302,202,718,226,2850,204,1316,176,1344,174,1618,204,1590,204,12320,204,1042,176,2166,204,718,226,746,224,748,226,1344,176,796,176,746,226\";\nvar five = \"224,1070,178,2302,206,716,226,2850,206,1316,176,1344,176,1618,206,1588,206,12318,232,1014,178,2026,206,752,192,746,226,796,176,1480,176,746,226,746,226\";\nvar six = \"226,1072,178,2302,206,718,226,2850,206,1314,176,1344,176,1618,204,1588,208,12316,206,1038,178,2850,204,2000,206,766,176,784,188,1618,204,766,176,796,176\";\nvar seven = \"224,1072,178,2302,204,718,226,2850,206,1316,176,1346,174,1618,206,1588,204,12320,206,1040,176,2714,204,2004,202,768,178,746,226,1754,204,718,224,744,228\";\nvar eight = \"226,1070,178,2302,206,766,178,2848,206,1314,176,1344,176,1616,206,1588,206,12316,234,1010,178,2574,206,1998,206,766,176,794,178,1890,206,766,178,796,178\";\nvar nine = \"228,1020,226,2302,204,718,224,2852,204,1316,176,1346,174,1620,204,1590,204,12320,204,1042,176,1480,176,796,176,796,176,796,176,2028,204,720,226,746,226\";\nvar zero = \"244,996,208,2300,204,720,226,2850,206,1314,176,1344,176,1618,206,1590,204,12318,206,1040,176,2664,226,780,192,744,230,746,226,794,178,796,176,794,178\";\n\nvar volup = \"226,1020,226,2302,202,718,226,2852,204,1316,188,1332,174,1618,204,1590,204,12320,204,1040,178,1342,176,746,226,748,224,796,176,2166,204,716,226,748,224\";\nvar voldown = \"228,1092,154,2302,206,716,228,2850,206,1314,176,1344,176,1618,206,1588,206,12318,206,1038,178,1206,176,794,178,796,178,794,178,2302,206,766,178,796,178\";\n\nvar youview = \"230,1040,208,2300,204,766,176,2850,206,1314,176,1344,176,1618,206,1588,206,12318,206,1038,178,2438,206,716,226,794,176,1070,178,746,226,796,178,794,178\";\nvar back = \"224,1070,178,2302,204,718,226,2852,204,1316,176,1344,174,1620,204,1588,204,12320,206,1040,176,1480,176,796,176,746,226,1020,224,1756,204,718,224,748,224\";\nvar close = \"224,1058,190,2302,204,768,176,2850,204,1316,200,1320,200,1594,202,1590,204,12318,204,1040,200,1594,204,764,204,772,176,1070,202,1592,204,768,176,796,176\";\n\nvar play = \"228,1020,228,2300,204,742,202,2848,206,1316,176,1344,176,1618,204,1588,206,12318,206,1040,176,2302,204,718,226,752,220,1206,176,746,226,796,176,794,176\";\nvar stop = \"226,1072,200,2278,202,720,224,2850,202,1318,200,1320,200,1592,202,1590,202,12320,204,1042,200,722,224,2030,202,720,224,1208,200,1046,200,764,182,798,200\";\nvar pause = \"228,1020,226,2302,202,720,224,2850,204,1318,198,1320,200,1594,204,1590,204,12320,204,1042,200,2142,202,756,188,748,224,1208,200,910,202,722,224,748,224\";\nvar rewind = \"228,1020,226,2302,204,716,228,2850,204,1316,200,1320,200,1594,204,1590,204,12318,204,1040,176,1892,204,718,226,746,226,1206,176,1208,174,748,224,748,224\";\nvar ff = \"226,1068,204,2278,202,720,224,2850,202,1318,198,1322,188,1606,204,1590,204,12318,204,1040,200,2688,204,2002,202,720,224,1208,176,1346,174,746,224,748,224\";\nvar skipback = \"196,1050,224,2308,202,720,224,2852,202,1316,176,1344,176,1618,204,1590,204,12316,232,1014,176,2712,204,1866,202,718,226,1206,176,1480,176,766,208,744,226\";\nvar skipfwd = \"196,1050,226,2306,204,716,226,2850,206,1318,178,1338,176,1618,204,1590,204,12318,206,1040,176,2576,204,1864,204,766,176,1206,176,1618,206,766,178,794,176\";\n\nvar code;\n\nswitch(msg.payload) {\n\n//=======STD CODES=======\ncase \"ON\":\n    code=on;\nbreak;\n\ncase \"OFF\":\n    code=on;\nbreak;\n\ncase \"VOL_UP\":\n    code=volup;\nbreak;\n\ncase \"VOL_DOWN\":\n    code=voldown;\nbreak;\n\ncase \"CHAN_UP\":\n    code=chanup;\nbreak;\n\ncase \"CHAN_DOWN\":\n    code=chandown;\nbreak;\n\ncase \"MUTE\":\n    code=mute;\nbreak;\n\ncase \"1\":\n    code=one;\nbreak;\n\ncase \"2\":\n    code=two;\nbreak;\n\ncase \"3\":\n    code=three;\nbreak;\n\ncase \"4\":\n    code=four;\nbreak;\n\ncase \"5\":\n    code=five;\nbreak;\n\ncase \"6\":\n    code=six;\nbreak;\n\ncase \"7\":\n    code=seven;\nbreak;\n\ncase \"8\":\n    code=eight;\nbreak;\n\ncase \"9\":\n    code=nine;\nbreak;\n\ncase \"0\":\n    code=zero;\nbreak;\n\ncase \"UP\":\n    code=up;\nbreak;\n\ncase \"DOWN\":\n    code=down;\nbreak;\n\ncase \"LEFT\":\n    code=left;\nbreak;\n\ncase \"OK\":\n    code=ok;\nbreak;\n\ncase \"RIGHT\":\n    code=right;\nbreak;\n\ncase \"MENU\":\n    code=menu;\nbreak;\n\ncase \"PLAY\":\n    code=play;\nbreak;\n\ncase \"PAUSE\":\n    code=pause;\nbreak;\n\ncase \"STOP\":\n    code=stop;\nbreak;\n\ncase \"REWIND\":\n    code=rewind;\nbreak;\n\ncase \"FASTFORWARD\":\n    code=ff;\nbreak;\n\ncase \"SKIPBACKWARD\":\n    code=skipback;\nbreak;\n\ncase \"SKIPFORWARD\":\n    code=skipfwd;\nbreak;\n\n//=======CUSTOM CODES=======\ncase \"YOUVIEW\":\n    code=youview;\nbreak;\n\ncase \"BACK\":\n    code=back;\nbreak;\n\ncase \"CLOSE\":\n    code=close;\nbreak;\n\n}\n    msg.payload = \"30,38,\"+code+\",\"+code+\",\"+code;\n    code=null;\n    \nreturn msg;","outputs":1,"noerr":0,"x":368.5,"y":842,"wires":[["df96765.bb9fc88","26aad11e.83917e"]]},{"id":"26aad11e.83917e","type":"debug","z":"83b19753.1af4a8","name":"","active":true,"console":"false","complete":"payload","x":570,"y":880,"wires":[]},{"id":"d05e2054.164d2","type":"inject","z":"83b19753.1af4a8","name":"","topic":"","payload":"30,38,204,1042,176,2440,204,1864,204,716,226,796,176,2166,204,768,176,748,224","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":370,"y":440,"wires":[["5c32750a.82e58c","e0e8be95.461f1"]]},{"id":"4fe47c4b.9a6e34","type":"change","z":"3858decf.0fe052","name":"ON - SAT","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":40,"wires":[["25ce6ce2.557364"]]},{"id":"25ce6ce2.557364","type":"mqtt out","z":"3858decf.0fe052","name":"","topic":"iot/media/sat/set","qos":"","retain":"","broker":"b113ebbe.a57308","x":750,"y":40,"wires":[]},{"id":"a1122533.975ff8","type":"comment","z":"83b19753.1af4a8","name":"Test YOUVIEW ON","info":"","x":190,"y":440,"wires":[]},{"id":"e0e8be95.461f1","type":"debug","z":"83b19753.1af4a8","name":"","active":true,"console":"false","complete":"payload","x":570,"y":420,"wires":[]},{"id":"5cc10525.d8073c","type":"mqtt out","z":"83b19753.1af4a8","name":"","topic":"iot/ircontroller/send","qos":"","retain":"","broker":"b113ebbe.a57308","x":630,"y":920,"wires":[]},{"id":"710eaf20.c6669","type":"mqtt in","z":"83b19753.1af4a8","name":"Apple TV commands","topic":"iot/media/apple-tv/set","qos":"2","broker":"b113ebbe.a57308","x":180,"y":960,"wires":[["65516b93.a53444"]]},{"id":"65516b93.a53444","type":"function","z":"83b19753.1af4a8","name":"Find IR Command","func":"//YOUVIEW COMMANDS\n\nswitch(msg.payload) {\n\ncase \"MENU\":\n    msg.payload = \"25,R1,F413EB7\";\nbreak;\n\ncase \"PLUS\":\n    msg.payload = \"4,A90,0,1\";\nbreak;\n\ncase \"VOL_UP\":\n    msg.payload = \"4,490,0,1\";\nbreak;\n\ncase \"VOL_DOWN\":\n    msg.payload = \"4,C90,0,1\";\nbreak;\n\ncase \"CHAN_UP\":\n    msg.payload = \"4,090,0,1\";\nbreak;\n\ncase \"CHAN_DOWN\":\n    msg.payload = \"4,890,0,1\";\nbreak;\n\ncase \"MUTE\":\n    msg.payload = \"4,290,0,1\";\nbreak;\n\ncase \"1\":\n    msg.payload = \"4,010,0,1\";\nbreak;\n\ncase \"2\":\n    msg.payload = \"4,810,0,1\";\nbreak;\n\ncase \"3\":\n    msg.payload = \"4,410,0,1\";\nbreak;\n\ncase \"4\":\n    msg.payload = \"4,C10,0,1\";\nbreak;\n\ncase \"5\":\n    msg.payload = \"4,210,0,1\";\nbreak;\n\ncase \"6\":\n    msg.payload = \"4,A10,0,1\";\nbreak;\n\ncase \"7\":\n    msg.payload = \"4,610,0,1\";\nbreak;\n\ncase \"8\":\n    msg.payload = \"4,E10,0,1\";\nbreak;\n\ncase \"9\":\n    msg.payload = \"4,110,0,1\";\nbreak;\n\ncase \"0\":\n    msg.payload = \"4,910,0,1\";\nbreak;\n\ncase \"UP\":\n    msg.payload = \"4,2F0,0,1\";\nbreak;\n\ncase \"DOWN\":\n    msg.payload = \"4,AF0,0,1\";\nbreak;\n\ncase \"LEFT\":\n    msg.payload = \"4,2D0,0,1\";\nbreak;\n\ncase \"OK\":\n    msg.payload = \"4,A70,0,1\";\nbreak;\n\ncase \"RIGHT\":\n    msg.payload = \"4,CD0,0,1\";\nbreak;\n\ncase \"MENU\":\n    msg.payload = \"4,070,0,1\";\nbreak;\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":408.5,"y":962,"wires":[["5cc10525.d8073c","ae4d7569.499bd8"]]},{"id":"ae4d7569.499bd8","type":"debug","z":"83b19753.1af4a8","name":"","active":true,"console":"false","complete":"payload","x":610,"y":1000,"wires":[]},{"id":"e47d51e1.b051f","type":"inject","z":"83b19753.1af4a8","name":"","topic":"","payload":"25,R1,0x000000000000403F","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":370,"y":480,"wires":[["5c32750a.82e58c"]]},{"id":"9b7b3b6d.fad278","type":"comment","z":"83b19753.1af4a8","name":"Test APPLE TV MENU","info":"","x":180,"y":480,"wires":[]},{"id":"3130ac9b.da1914","type":"mqtt in","z":"83b19753.1af4a8","name":"Received IR commands","topic":"iot/ircontroller/receive","qos":"2","broker":"b113ebbe.a57308","x":200,"y":1160,"wires":[["abbc5bcb.18b2c8"]]},{"id":"abbc5bcb.18b2c8","type":"debug","z":"83b19753.1af4a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":420,"y":1180,"wires":[]},{"id":"ead1ecf.ccb031","type":"mqtt in","z":"83b19753.1af4a8","name":"Received IR commands","topic":"iot/ircontroller/receive/raw","qos":"2","broker":"b113ebbe.a57308","x":200,"y":1240,"wires":[["fb369b87.046188"]]},{"id":"fb369b87.046188","type":"debug","z":"83b19753.1af4a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":420,"y":1260,"wires":[]},{"id":"af119b4a.a3cb38","type":"mqtt out","z":"83b19753.1af4a8","name":"","topic":"iot/media/sat/set","qos":"","retain":"","broker":"b113ebbe.a57308","x":830,"y":1380,"wires":[]},{"id":"1346dfa8.34242","type":"inject","z":"83b19753.1af4a8","name":"","topic":"","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":190,"y":1380,"wires":[["af119b4a.a3cb38"]]},{"id":"cc84113b.67e86","type":"comment","z":"83b19753.1af4a8","name":"General Test","info":"","x":70,"y":1340,"wires":[]},{"id":"29a8283b.98b4c8","type":"inject","z":"83b19753.1af4a8","name":"","topic":"","payload":"CHAN_DOWN","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":210,"y":1420,"wires":[["af119b4a.a3cb38"]]},{"id":"a6bba893.df0be8","type":"inject","z":"83b19753.1af4a8","name":"","topic":"","payload":"CHAN_UP","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":200,"y":1460,"wires":[["af119b4a.a3cb38"]]},{"id":"4696f8bc.9ce228","type":"inject","z":"83b19753.1af4a8","name":"","topic":"","payload":"VOL_UP","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":200,"y":1500,"wires":[["af119b4a.a3cb38"]]},{"id":"914843bf.f4494","type":"inject","z":"83b19753.1af4a8","name":"","topic":"","payload":"VOL_DOWN","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":210,"y":1540,"wires":[["af119b4a.a3cb38"]]},{"id":"de161370.89add","type":"inject","z":"83b19753.1af4a8","name":"","topic":"","payload":"MUTE","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":190,"y":1580,"wires":[["af119b4a.a3cb38"]]},{"id":"6e535e46.f8935","type":"inject","z":"83b19753.1af4a8","name":"","topic":"","payload":"LEFT","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":190,"y":1620,"wires":[["af119b4a.a3cb38"]]},{"id":"65918a4b.e027f4","type":"inject","z":"83b19753.1af4a8","name":"","topic":"","payload":"RIGHT","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":190,"y":1660,"wires":[["af119b4a.a3cb38"]]},{"id":"f4b6f9f8.fa80a8","type":"inject","z":"83b19753.1af4a8","name":"","topic":"","payload":"UP","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":190,"y":1700,"wires":[["af119b4a.a3cb38"]]},{"id":"c07d03e0.34463","type":"inject","z":"83b19753.1af4a8","name":"","topic":"","payload":"DOWN","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":190,"y":1740,"wires":[["af119b4a.a3cb38"]]},{"id":"f64a8eb2.00086","type":"inject","z":"83b19753.1af4a8","name":"","topic":"","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":370,"y":1380,"wires":[["af119b4a.a3cb38"]]},{"id":"d2b5294.36a4bd8","type":"inject","z":"83b19753.1af4a8","name":"","topic":"","payload":"OK","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":370,"y":1420,"wires":[["af119b4a.a3cb38"]]},{"id":"617986b6.06db88","type":"inject","z":"83b19753.1af4a8","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":370,"y":1460,"wires":[["af119b4a.a3cb38"]]},{"id":"cb134511.ef1288","type":"inject","z":"83b19753.1af4a8","name":"","topic":"","payload":"2","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":370,"y":1500,"wires":[["af119b4a.a3cb38"]]},{"id":"d084934d.f9f57","type":"inject","z":"83b19753.1af4a8","name":"","topic":"","payload":"3","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":370,"y":1540,"wires":[["af119b4a.a3cb38"]]},{"id":"6e25a96f.34df88","type":"inject","z":"83b19753.1af4a8","name":"","topic":"","payload":"4","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":370,"y":1580,"wires":[["af119b4a.a3cb38"]]},{"id":"71d402a0.4bfb1c","type":"inject","z":"83b19753.1af4a8","name":"","topic":"","payload":"5","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":370,"y":1620,"wires":[["af119b4a.a3cb38"]]},{"id":"2a28eb2c.46c944","type":"inject","z":"83b19753.1af4a8","name":"","topic":"","payload":"6","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":370,"y":1660,"wires":[["af119b4a.a3cb38"]]},{"id":"8cbe25aa.bf1568","type":"inject","z":"83b19753.1af4a8","name":"","topic":"","payload":"7","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":370,"y":1700,"wires":[["af119b4a.a3cb38"]]},{"id":"6a1c8df6.8a5724","type":"inject","z":"83b19753.1af4a8","name":"","topic":"","payload":"8","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":370,"y":1740,"wires":[["af119b4a.a3cb38"]]},{"id":"690ba0f9.ab244","type":"inject","z":"83b19753.1af4a8","name":"","topic":"","payload":"9","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":530,"y":1380,"wires":[["af119b4a.a3cb38"]]},{"id":"a7554cc4.0b166","type":"inject","z":"83b19753.1af4a8","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":530,"y":1420,"wires":[["af119b4a.a3cb38"]]},{"id":"f7d18771.97e548","type":"inject","z":"83b19753.1af4a8","name":"","topic":"","payload":"PLAY","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":530,"y":1460,"wires":[["af119b4a.a3cb38"]]},{"id":"2214d465.a561cc","type":"inject","z":"83b19753.1af4a8","name":"","topic":"","payload":"PAUSE","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":530,"y":1500,"wires":[["af119b4a.a3cb38"]]},{"id":"d89e66a7.2ce298","type":"inject","z":"83b19753.1af4a8","name":"","topic":"","payload":"STOP","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":530,"y":1540,"wires":[["af119b4a.a3cb38"]]},{"id":"fcc3248c.daf5e8","type":"inject","z":"83b19753.1af4a8","name":"","topic":"","payload":"REWIND","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":540,"y":1580,"wires":[["af119b4a.a3cb38"]]},{"id":"cae48cae.602f1","type":"inject","z":"83b19753.1af4a8","name":"","topic":"","payload":"FASTFORWARD","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":560,"y":1620,"wires":[["af119b4a.a3cb38"]]},{"id":"40d964de.11521c","type":"inject","z":"83b19753.1af4a8","name":"","topic":"","payload":"SKIPBACKWARD","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":560,"y":1660,"wires":[["af119b4a.a3cb38"]]},{"id":"f28aaef4.36fb8","type":"inject","z":"83b19753.1af4a8","name":"","topic":"","payload":"SKIPFORWARD","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":560,"y":1700,"wires":[["af119b4a.a3cb38"]]},{"id":"e6585216.cc8bf","type":"inject","z":"83b19753.1af4a8","name":"","topic":"","payload":"YOUVIEW","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":360,"y":1800,"wires":[["af119b4a.a3cb38"]]},{"id":"a86e26fa.02a4c8","type":"inject","z":"83b19753.1af4a8","name":"","topic":"","payload":"BACK","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":350,"y":1840,"wires":[["af119b4a.a3cb38"]]},{"id":"264fbad0.1f5df6","type":"inject","z":"83b19753.1af4a8","name":"","topic":"","payload":"CLOSE","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":350,"y":1880,"wires":[["af119b4a.a3cb38"]]},{"id":"f982754d.c197e8","type":"comment","z":"83b19753.1af4a8","name":"Youview Custom Test","info":"","x":100,"y":1800,"wires":[]},{"id":"3f429baa.b36a04","type":"mqtt out","z":"7d076915.bef778","name":"","topic":"localgateway_to_awsiot","qos":"","retain":"","broker":"b113ebbe.a57308","x":590,"y":80,"wires":[]},{"id":"4375eb2b.46c624","type":"inject","z":"7d076915.bef778","name":"","topic":"","payload":"hello from pi!","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":250,"y":120,"wires":[["3f429baa.b36a04","10751fd4.a34e6"]]},{"id":"10751fd4.a34e6","type":"debug","z":"7d076915.bef778","name":"","active":true,"console":"false","complete":"payload","x":490,"y":160,"wires":[]},{"id":"83caf790.f3f178","type":"mqtt in","z":"ecafbd20.fc3e8","name":"","topic":"test.home/living-room/lights/ceiling/set","qos":"2","broker":"b113ebbe.a57308","x":210,"y":60,"wires":[["2e8f00ec.41108","a52eee52.16893"]]},{"id":"2e8f00ec.41108","type":"debug","z":"ecafbd20.fc3e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":660,"y":140,"wires":[]},{"id":"de12c2f6.b9a7c","type":"mqtt out","z":"ecafbd20.fc3e8","name":"","topic":"test.home/living-room/lights/ceiling/set","qos":"","retain":"true","broker":"b113ebbe.a57308","x":620,"y":240,"wires":[]},{"id":"28002cd0.2ac184","type":"inject","z":"ecafbd20.fc3e8","name":"","topic":"","payload":"ON","payloadType":"str","repeat":"120","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":240,"wires":[["de12c2f6.b9a7c","a52eee52.16893"]]},{"id":"a52eee52.16893","type":"mqtt out","z":"ecafbd20.fc3e8","name":"","topic":"test.home/living-room/lights/ceiling/state","qos":"","retain":"true","broker":"b113ebbe.a57308","x":620,"y":300,"wires":[]},{"id":"2f1c6fea.0adf5","type":"inject","z":"ecafbd20.fc3e8","name":"","topic":"","payload":"OFF","payloadType":"str","repeat":"150","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":300,"wires":[["a52eee52.16893","de12c2f6.b9a7c"]]},{"id":"45ded5ce.05fb9c","type":"inject","z":"ecafbd20.fc3e8","name":"","topic":"","payload":"offline","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":440,"wires":[["35fae5c6.3e0d3a"]]},{"id":"929e5f9d.f4915","type":"inject","z":"ecafbd20.fc3e8","name":"","topic":"","payload":"online","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":380,"wires":[["35fae5c6.3e0d3a"]]},{"id":"35fae5c6.3e0d3a","type":"mqtt out","z":"ecafbd20.fc3e8","name":"","topic":"test.home/living-room/lights/ceiling/available","qos":"","retain":"true","broker":"b113ebbe.a57308","x":610,"y":380,"wires":[]},{"id":"158fe0e1.051f5f","type":"mqtt in","z":"ecafbd20.fc3e8","name":"","topic":"test.home/living-room/lights/ceiling/state","qos":"2","broker":"b113ebbe.a57308","x":220,"y":100,"wires":[["2e8f00ec.41108"]]},{"id":"cb680a3f.68cbe8","type":"mqtt in","z":"ecafbd20.fc3e8","name":"","topic":"test.home/living-room/lights/ceiling/available","qos":"2","broker":"b113ebbe.a57308","x":230,"y":140,"wires":[["2e8f00ec.41108"]]},{"id":"5fce6f32.cae3c","type":"mqtt in","z":"ecafbd20.fc3e8","name":"","topic":"test.home/dining-room/lights/ceiling/set","qos":"2","broker":"b113ebbe.a57308","x":210,"y":520,"wires":[["ed66ac4b.eac03","769692d0.9cbd8c"]]},{"id":"ed66ac4b.eac03","type":"debug","z":"ecafbd20.fc3e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":660,"y":600,"wires":[]},{"id":"9652004a.5ee2b","type":"mqtt out","z":"ecafbd20.fc3e8","name":"","topic":"test.home/dining-room/lights/ceiling/set","qos":"","retain":"true","broker":"b113ebbe.a57308","x":620,"y":700,"wires":[]},{"id":"88cd37e8.6a7f78","type":"inject","z":"ecafbd20.fc3e8","name":"","topic":"","payload":"ON","payloadType":"str","repeat":"120","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":700,"wires":[["9652004a.5ee2b","769692d0.9cbd8c"]]},{"id":"769692d0.9cbd8c","type":"mqtt out","z":"ecafbd20.fc3e8","name":"","topic":"test.home/dining-room/lights/ceiling/state","qos":"","retain":"true","broker":"b113ebbe.a57308","x":620,"y":760,"wires":[]},{"id":"14545ff.3bfaaa","type":"inject","z":"ecafbd20.fc3e8","name":"","topic":"","payload":"OFF","payloadType":"str","repeat":"150","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":760,"wires":[["769692d0.9cbd8c","9652004a.5ee2b"]]},{"id":"4fc84070.e7912","type":"inject","z":"ecafbd20.fc3e8","name":"","topic":"","payload":"offline","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":900,"wires":[["265fa910.114e16"]]},{"id":"ee0c6f41.148ec","type":"inject","z":"ecafbd20.fc3e8","name":"","topic":"","payload":"online","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":840,"wires":[["265fa910.114e16"]]},{"id":"265fa910.114e16","type":"mqtt out","z":"ecafbd20.fc3e8","name":"","topic":"test.home/dining-room/lights/ceiling/available","qos":"","retain":"true","broker":"b113ebbe.a57308","x":620,"y":840,"wires":[]},{"id":"1f0ed7af.9bdca8","type":"mqtt in","z":"ecafbd20.fc3e8","name":"","topic":"test.home/dining-room/lights/ceiling/state","qos":"2","broker":"b113ebbe.a57308","x":220,"y":560,"wires":[["ed66ac4b.eac03"]]},{"id":"8805864.99f4778","type":"mqtt in","z":"ecafbd20.fc3e8","name":"","topic":"test.home/dining-room/lights/ceiling/available","qos":"2","broker":"b113ebbe.a57308","x":230,"y":600,"wires":[["ed66ac4b.eac03"]]},{"id":"f35e123b.b2ea3","type":"mqtt out","z":"9abde8e2.4b7518","name":"","topic":"/hello","qos":"1","retain":"false","broker":"b113ebbe.a57308","x":330,"y":100,"wires":[]},{"id":"bef08228.e5a57","type":"inject","z":"9abde8e2.4b7518","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":100,"wires":[["f35e123b.b2ea3"]]},{"id":"4b703ca6.530954","type":"comment","z":"83b19753.1af4a8","name":"Test Comment","info":"","x":320,"y":220,"wires":[]},{"id":"8c3e1476.0259a8","type":"debug","z":"ecafbd20.fc3e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":620,"y":1060,"wires":[]},{"id":"68a92931.643398","type":"mqtt out","z":"ecafbd20.fc3e8","name":"","topic":"test.home/test_room/lights/state","qos":"","retain":"true","broker":"b113ebbe.a57308","x":560,"y":1200,"wires":[]},{"id":"a4fd4a81.2f0dd8","type":"inject","z":"ecafbd20.fc3e8","name":"","topic":"","payload":"ON","payloadType":"str","repeat":"120","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":1160,"wires":[["68a92931.643398","6471a94d.39fae8"]]},{"id":"e023d8ce.73d058","type":"inject","z":"ecafbd20.fc3e8","name":"","topic":"","payload":"OFF","payloadType":"str","repeat":"150","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":1220,"wires":[["68a92931.643398","6471a94d.39fae8"]]},{"id":"7c3b4d80.638424","type":"inject","z":"ecafbd20.fc3e8","name":"","topic":"","payload":"offline","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":1360,"wires":[["5a6b9a63.95cf64"]]},{"id":"1728ff17.492061","type":"inject","z":"ecafbd20.fc3e8","name":"","topic":"","payload":"online","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":1300,"wires":[["5a6b9a63.95cf64"]]},{"id":"5a6b9a63.95cf64","type":"mqtt out","z":"ecafbd20.fc3e8","name":"","topic":"test.home/test_room/lights/available","qos":"","retain":"true","broker":"b113ebbe.a57308","x":550,"y":1300,"wires":[]},{"id":"e633f956.fb4128","type":"mqtt in","z":"ecafbd20.fc3e8","name":"","topic":"test.home/test_room/lights/state","qos":"2","datatype":"auto","broker":"b113ebbe.a57308","x":150,"y":1020,"wires":[["8c3e1476.0259a8"]]},{"id":"95ad7a.9a8b0288","type":"mqtt in","z":"ecafbd20.fc3e8","name":"","topic":"test.home/test_room/lights/available","qos":"2","datatype":"auto","broker":"b113ebbe.a57308","x":160,"y":1060,"wires":[["8c3e1476.0259a8"]]},{"id":"b55be28b.9cb49","type":"mqtt in","z":"ecafbd20.fc3e8","name":"","topic":"test.home/test_room/lights/set","qos":"2","datatype":"auto","broker":"b113ebbe.a57308","x":150,"y":980,"wires":[["68a92931.643398","8c3e1476.0259a8"]]},{"id":"6471a94d.39fae8","type":"mqtt out","z":"ecafbd20.fc3e8","name":"","topic":"test.home/test_room/lights/set","qos":"","retain":"true","broker":"b113ebbe.a57308","x":550,"y":1140,"wires":[]},{"id":"b3d772c9.93237","type":"ha-fire-event","z":"ecafbd20.fc3e8","name":"","server":"a4a1abdf.7ba5b8","event":"","data":"","mergecontext":"","x":250,"y":1480,"wires":[[]]},{"id":"2505a2a2.cb1a3e","type":"debug","z":"ecafbd20.fc3e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":1440,"wires":[]},{"id":"fae61a59.c6dd28","type":"server-state-changed","z":"ecafbd20.fc3e8","name":"","server":"a4a1abdf.7ba5b8","version":1,"entityidfilter":"switch.living_room_ceiling","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":280,"y":1520,"wires":[["2505a2a2.cb1a3e"]]},{"id":"ddc8159a.475b38","type":"inject","z":"ecafbd20.fc3e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":1660,"wires":[["4db268df.d06618"]]},{"id":"4db268df.d06618","type":"api-call-service","z":"ecafbd20.fc3e8","name":"","server":"a4a1abdf.7ba5b8","service_domain":"switch","service":"toggle","data":"{\"entity_id\":\"switch.living_room_ceiling\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":440,"y":1660,"wires":[[]]},{"id":"971b3381.bc192","type":"debug","z":"ecafbd20.fc3e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":1860,"wires":[]},{"id":"bf69059c.fa42b8","type":"mqtt out","z":"ecafbd20.fc3e8","name":"","topic":"test.home/test_room/opening_1/state","qos":"","retain":"true","broker":"b113ebbe.a57308","x":580,"y":2000,"wires":[]},{"id":"f7ca8fbf.7990d","type":"inject","z":"ecafbd20.fc3e8","name":"","topic":"","payload":"ON","payloadType":"str","repeat":"120","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":1960,"wires":[["bf69059c.fa42b8"]]},{"id":"40649412.4e101c","type":"inject","z":"ecafbd20.fc3e8","name":"","topic":"","payload":"OFF","payloadType":"str","repeat":"150","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":2020,"wires":[["bf69059c.fa42b8"]]},{"id":"f8b9f71.3c32908","type":"inject","z":"ecafbd20.fc3e8","name":"","topic":"","payload":"offline","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":2160,"wires":[["67e5411f.a4852"]]},{"id":"e7e89f50.277ee","type":"inject","z":"ecafbd20.fc3e8","name":"","topic":"","payload":"online","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":2100,"wires":[["67e5411f.a4852"]]},{"id":"67e5411f.a4852","type":"mqtt out","z":"ecafbd20.fc3e8","name":"","topic":"test.home/test_room/opening_1/available","qos":"","retain":"true","broker":"b113ebbe.a57308","x":570,"y":2100,"wires":[]},{"id":"c612248c.796388","type":"mqtt in","z":"ecafbd20.fc3e8","name":"","topic":"test.home/test_room/opening_1/state","qos":"2","datatype":"auto","broker":"b113ebbe.a57308","x":180,"y":1820,"wires":[["971b3381.bc192"]]},{"id":"95846869.5135f8","type":"mqtt in","z":"ecafbd20.fc3e8","name":"","topic":"test.home/test_room/opening_1/available","qos":"2","datatype":"auto","broker":"b113ebbe.a57308","x":190,"y":1860,"wires":[["971b3381.bc192"]]},{"id":"6145c04e.94cd1","type":"inject","z":"ecafbd20.fc3e8","name":"","topic":"","payload":"21","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":2260,"wires":[["dceee275.c69cb"]]},{"id":"dceee275.c69cb","type":"mqtt out","z":"ecafbd20.fc3e8","name":"","topic":"test.home/test_room/temperature","qos":"","retain":"true","broker":"b113ebbe.a57308","x":560,"y":2260,"wires":[]},{"id":"3a3b5897.79aef8","type":"inject","z":"ecafbd20.fc3e8","name":"","topic":"","payload":"16","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":2320,"wires":[["dceee275.c69cb"]]},{"id":"646355.ff1fdcac","type":"mqtt out","z":"ecafbd20.fc3e8","name":"","topic":"test.home/test_room/humidity","qos":"","retain":"true","broker":"b113ebbe.a57308","x":550,"y":2380,"wires":[]},{"id":"fb1bda50.b12628","type":"inject","z":"ecafbd20.fc3e8","name":"","topic":"","payload":"50","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":2380,"wires":[["646355.ff1fdcac"]]},{"id":"20eefdb8.018362","type":"inject","z":"ecafbd20.fc3e8","name":"","topic":"","payload":"25","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":2440,"wires":[["646355.ff1fdcac"]]},{"id":"b322fe2.12244","type":"mqtt in","z":"9abde8e2.4b7518","name":"","topic":"#","qos":"2","datatype":"auto","broker":"b113ebbe.a57308","x":160,"y":220,"wires":[["98e2af6d.7e382"]]},{"id":"98e2af6d.7e382","type":"debug","z":"9abde8e2.4b7518","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":340,"y":220,"wires":[]},{"id":"fcbe5092.452ff","type":"inject","z":"ecafbd20.fc3e8","name":"Downstairs B'room Window Closed","topic":"tele/sonoff-rf-bridge/RESULT","payload":"{\"RfReceived\":{\"Sync\":14100,\"Low\":490,\"High\":1380,\"Data\":\"E1990E\",\"RfKey\":\"None\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":2580,"wires":[["69002387.afbc1c"]]},{"id":"41bd18fe.715028","type":"inject","z":"ecafbd20.fc3e8","name":"Downstairs B'room Window Open","topic":"tele/sonoff-rf-bridge/RESULT","payload":"{\"RfReceived\":{\"Sync\":14100,\"Low\":490,\"High\":1380,\"Data\":\"E1990A\",\"RfKey\":\"None\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":2540,"wires":[["69002387.afbc1c"]]},{"id":"7121ca2a.dce774","type":"inject","z":"ecafbd20.fc3e8","name":"RF Bridge Status","topic":"tele/sonoff-rf-bridge/STATE","payload":"{\"Time\":\"2019-09-17T21:39:32\",\"Uptime\":\"0T00:15:18\",\"Heap\":15,\"SleepMode\":\"Dynamic\",\"Sleep\":50,\"LoadAvg\":19,\"Wifi\":{\"AP\":1,\"SSId\":\"PrettyFlyForAWifi\",\"BSSId\":\"18:D2:76:D0:9C:FC\",\"Channel\":11,\"RSSI\":100,\"LinkCount\":1,\"Downtime\":\"0T00:00:06\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":2620,"wires":[["69002387.afbc1c"]]},{"id":"69002387.afbc1c","type":"mqtt out","z":"ecafbd20.fc3e8","name":"","topic":"","qos":"","retain":"","broker":"b113ebbe.a57308","x":580,"y":2580,"wires":[]},{"id":"3848870b.56ea58","type":"inject","z":"180daee1.f8c5a1","name":"Downstairs B'room Window Closed","topic":"tele/sonoff-rf-bridge/RESULT","payload":"{\"RfReceived\":{\"Sync\":14100,\"Low\":490,\"High\":1380,\"Data\":\"E1990E\",\"RfKey\":\"None\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":160,"wires":[["292ec6b2.601fea"]]},{"id":"2f01cf99.e5f25","type":"inject","z":"180daee1.f8c5a1","name":"Downstairs B'room Window Open","topic":"tele/sonoff-rf-bridge/RESULT","payload":"{\"RfReceived\":{\"Sync\":14100,\"Low\":490,\"High\":1380,\"Data\":\"E1990A\",\"RfKey\":\"None\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":120,"wires":[["292ec6b2.601fea"]]},{"id":"5eeb9693.e6bfb8","type":"inject","z":"180daee1.f8c5a1","name":"RF Bridge Status","topic":"tele/sonoff-rf-bridge/STATE","payload":"{\"Time\":\"2019-09-17T21:39:32\",\"Uptime\":\"0T00:15:18\",\"Heap\":15,\"SleepMode\":\"Dynamic\",\"Sleep\":50,\"LoadAvg\":19,\"Wifi\":{\"AP\":1,\"SSId\":\"PrettyFlyForAWifi\",\"BSSId\":\"18:D2:76:D0:9C:FC\",\"Channel\":11,\"RSSI\":100,\"LinkCount\":1,\"Downtime\":\"0T00:00:06\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":200,"wires":[["292ec6b2.601fea"]]},{"id":"292ec6b2.601fea","type":"mqtt out","z":"180daee1.f8c5a1","name":"","topic":"","qos":"","retain":"","broker":"b113ebbe.a57308","x":580,"y":160,"wires":[]},{"id":"44b453c8.a1058c","type":"comment","z":"7c38d180.0695d","name":"Sonoff RF Status - Device Timeout","info":"","x":180,"y":40,"wires":[]},{"id":"853c4c04.23f08","type":"mqtt in","z":"7c38d180.0695d","name":"","topic":"tele/sonoff-rf-bridge/STATE","qos":"2","datatype":"auto","broker":"b113ebbe.a57308","x":140,"y":120,"wires":[["4ab1ad9c.461fb4","4473e23d.5e7e2c","ca32fe51.eb2e8"]]},{"id":"4ab1ad9c.461fb4","type":"interval-length","z":"7c38d180.0695d","format":"mills","bytopic":false,"minimum":"","maximum":"","window":"","timeout":false,"msgTimeout":"6","minimumunit":"msecs","maximumunit":"mins","windowunit":"msecs","msgTimeoutUnit":"mins","reset":false,"startup":false,"msgField":"payload","timestampField":"timestamp","repeatTimeout":true,"name":"","x":360,"y":180,"wires":[["b0c0d5af.f51a88"],["2ec7267f.beac4a","b0c0d5af.f51a88","faf0aa48.e91bc8"]]},{"id":"d973df75.e4044","type":"mqtt out","z":"7c38d180.0695d","name":"","topic":"tele/sonoff-rf-bridge/device/state","qos":"","retain":"","broker":"b113ebbe.a57308","x":840,"y":220,"wires":[]},{"id":"2ec7267f.beac4a","type":"template","z":"7c38d180.0695d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"unavailable","output":"str","x":580,"y":280,"wires":[["d973df75.e4044"]]},{"id":"ffb156cc.75a8b8","type":"inject","z":"7c38d180.0695d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":380,"y":280,"wires":[["2ec7267f.beac4a","faf0aa48.e91bc8"]]},{"id":"4473e23d.5e7e2c","type":"template","z":"7c38d180.0695d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"available","output":"str","x":580,"y":60,"wires":[["d973df75.e4044"]]},{"id":"9affa131.e50c2","type":"inject","z":"7c38d180.0695d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":380,"y":60,"wires":[["4473e23d.5e7e2c","ca32fe51.eb2e8"]]},{"id":"b0c0d5af.f51a88","type":"debug","z":"7c38d180.0695d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":100,"wires":[]},{"id":"40b7c5eb.d89c1c","type":"inject","z":"7c38d180.0695d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":180,"wires":[["4ab1ad9c.461fb4"]]},{"id":"faf0aa48.e91bc8","type":"template","z":"7c38d180.0695d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"off","output":"str","x":580,"y":240,"wires":[["d973df75.e4044"]]},{"id":"ca32fe51.eb2e8","type":"template","z":"7c38d180.0695d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"on","output":"str","x":580,"y":100,"wires":[["d973df75.e4044"]]},{"id":"18fd2258.a9270e","type":"ramp-thermostat","z":"53b9a091.ecbea","name":"","profile":"a6a7a981.db5148","hysteresisplus":"1","hysteresisminus":"1","x":410,"y":120,"wires":[["41c5a9e.c6d7958","ac0d91df.07286"],["41c5a9e.c6d7958"],["41c5a9e.c6d7958"]]},{"id":"865fc24c.28ca5","type":"mqtt in","z":"53b9a091.ecbea","name":"","topic":"TEST/tele/heating/ufh/sonoff","qos":"2","datatype":"auto","broker":"b113ebbe.a57308","x":160,"y":120,"wires":[["3c5bfd1c.a80492"]]},{"id":"3c5bfd1c.a80492","type":"debug","z":"53b9a091.ecbea","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":180,"wires":[]},{"id":"41c5a9e.c6d7958","type":"debug","z":"53b9a091.ecbea","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":40,"wires":[]},{"id":"ac0d91df.07286","type":"mqtt out","z":"53b9a091.ecbea","name":"","topic":"TEST/tele/heating/ufh/sonoff","qos":"","retain":"true","broker":"b113ebbe.a57308","x":720,"y":80,"wires":[]},{"id":"43405df5.d38264","type":"mqtt out","z":"53b9a091.ecbea","name":"","topic":"TEST/tele/heating/ufh/sonoff","qos":"","retain":"true","broker":"b113ebbe.a57308","x":380,"y":260,"wires":[]},{"id":"f350ccb7.84cec","type":"inject","z":"53b9a091.ecbea","name":"","topic":"","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":260,"wires":[["43405df5.d38264"]]},{"id":"dbcf7423.e4f918","type":"inject","z":"53b9a091.ecbea","name":"","topic":"","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":300,"wires":[["43405df5.d38264"]]},{"id":"fe465250.5ab3d","type":"inject","z":"53b9a091.ecbea","name":"Test Inject State OFF","topic":"","payload":"{\"Time\":\"2019-11-03T20:43:45\",\"Uptime\":\"2T21:43:04\",\"Heap\":14,\"SleepMode\":\"Dynamic\",\"Sleep\":50,\"LoadAvg\":23,\"POWER\":\"OFF\",\"Wifi\":{\"AP\":1,\"SSId\":\"PrettyFlyForAWifi\",\"BSSId\":\"18:E8:29:FB:44:9C\",\"Channel\":1,\"RSSI\":32,\"LinkCount\":4,\"Downtime\":\"0T00:02:44\"}}","payloadType":"json","repeat":"30","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":400,"wires":[["e6b069ed.af2fd8"]]},{"id":"e6b069ed.af2fd8","type":"mqtt out","z":"53b9a091.ecbea","name":"","topic":"TEST/tele/heating/ufh/sonoff/STATE","qos":"","retain":"true","broker":"b113ebbe.a57308","x":420,"y":420,"wires":[]},{"id":"1308026a.005cee","type":"inject","z":"53b9a091.ecbea","name":"","topic":"TEST/heating/ufh/temperature","payload":"23","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":500,"wires":[["21baffe9.2eca1"]]},{"id":"21baffe9.2eca1","type":"mqtt out","z":"53b9a091.ecbea","name":"","topic":"TEST/heating/ufh/temperature","qos":"0","retain":"true","broker":"b113ebbe.a57308","x":540,"y":500,"wires":[]},{"id":"9927f4e2.0748f8","type":"mqtt in","z":"53b9a091.ecbea","name":"","topic":"TEST/heating/ufh/currentsetpoint/command","qos":"2","datatype":"auto","broker":"b113ebbe.a57308","x":230,"y":580,"wires":[["3b0b0de5.6a2a92"]]},{"id":"3b0b0de5.6a2a92","type":"mqtt out","z":"53b9a091.ecbea","name":"","topic":"TEST/heating/ufh/currentsetpoint","qos":"","retain":"true","broker":"b113ebbe.a57308","x":580,"y":580,"wires":[]},{"id":"30ca452.b0bc2ba","type":"inject","z":"53b9a091.ecbea","name":"Test Inject State ON","topic":"","payload":"{\"Time\":\"2019-11-03T20:43:45\",\"Uptime\":\"2T21:43:04\",\"Heap\":14,\"SleepMode\":\"Dynamic\",\"Sleep\":50,\"LoadAvg\":23,\"POWER\":\"ON\",\"Wifi\":{\"AP\":1,\"SSId\":\"PrettyFlyForAWifi\",\"BSSId\":\"18:E8:29:FB:44:9C\",\"Channel\":1,\"RSSI\":32,\"LinkCount\":4,\"Downtime\":\"0T00:02:44\"}}","payloadType":"json","repeat":"30","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":440,"wires":[["e6b069ed.af2fd8"]]},{"id":"8abeb326.25832","type":"ramp-thermostat","z":"53b9a091.ecbea","name":"UFH Schedule","profile":"662613ce.27d1dc","hysteresisplus":"0.2","hysteresisminus":"0.2","x":320,"y":774,"wires":[["fba630c7.40439"],[],[]]},{"id":"fb1766f.7831898","type":"mqtt out","z":"53b9a091.ecbea","name":"","topic":"cmnd/heating/ufh/sonoff/power","qos":"","retain":"true","broker":"b113ebbe.a57308","x":930,"y":760,"wires":[]},{"id":"40462cac.581a74","type":"server-state-changed","z":"53b9a091.ecbea","name":"","server":"a4a1abdf.7ba5b8","version":1,"entityidfilter":"sensor.day_room_temperature","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":190,"y":680,"wires":[["46b694de.9e0cfc"]]},{"id":"46b694de.9e0cfc","type":"change","z":"53b9a091.ecbea","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"setCurrent","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":720,"wires":[["8abeb326.25832"]]},{"id":"fba630c7.40439","type":"switch","z":"53b9a091.ecbea","name":"Route result","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":760,"wires":[["25fae2d4.1ff63e"],["42f1fd83.a3a854"]]},{"id":"25fae2d4.1ff63e","type":"change","z":"53b9a091.ecbea","name":"Set ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":720,"wires":[["fb1766f.7831898"]]},{"id":"42f1fd83.a3a854","type":"change","z":"53b9a091.ecbea","name":"Set OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":800,"wires":[["fb1766f.7831898","12661a7e.9bdcc6"]]},{"id":"4baee336.f2ec0c","type":"server-state-changed","z":"91083d3a.54dc1","name":"Transport API Toggle","server":"a4a1abdf.7ba5b8","version":1,"entityidfilter":"input_boolean.toggle_transport_api","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":80,"y":80,"wires":[["5f06c0f5.0bf84"]]},{"id":"5f06c0f5.0bf84","type":"switch","z":"91083d3a.54dc1","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":100,"wires":[["24f84f0e.b20eb"],["6d6729a5.7ebe38"]]},{"id":"7db69bd9.b08624","type":"api-call-service","z":"91083d3a.54dc1","name":"","server":"a4a1abdf.7ba5b8","service_domain":"homeassistant","service":"update_entity","data":"{\"entity_id\":\"sensor.next_train_to_wat\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":700,"y":100,"wires":[["6d6729a5.7ebe38"]]},{"id":"24f84f0e.b20eb","type":"api-current-state","z":"91083d3a.54dc1","name":"","server":"a4a1abdf.7ba5b8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":true,"entity_id":"input_boolean.toggle_transport_api","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":true,"x":590,"y":40,"wires":[["7db69bd9.b08624"],["6d6729a5.7ebe38"]]},{"id":"9397ba04.10e908","type":"inject","z":"91083d3a.54dc1","name":"Scan Interval","topic":"","payload":"true","payloadType":"bool","repeat":"180","crontab":"","once":true,"onceDelay":0.1,"x":280,"y":40,"wires":[["24f84f0e.b20eb"]]},{"id":"6d6729a5.7ebe38","type":"debug","z":"91083d3a.54dc1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":180,"wires":[]},{"id":"f220107.74405f","type":"api-call-service","z":"91083d3a.54dc1","name":"","server":"a4a1abdf.7ba5b8","service_domain":"input_boolean","service":"toggle","data":"{\"entity_id\":\"input_boolean.toggle_transport_api\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":170,"y":160,"wires":[["5f06c0f5.0bf84"]]},{"id":"b2a9e3e9.2b683","type":"inject","z":"91083d3a.54dc1","name":"Toggle input_boolean","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":220,"wires":[["f220107.74405f"]]},{"id":"8693686c.22f408","type":"inject","z":"53b9a091.ecbea","name":"","topic":"","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":320,"wires":[["43405df5.d38264"]]},{"id":"45f80775.8a3b78","type":"ramp-thermostat","z":"53b9a091.ecbea","name":"Central Heating Schedule","profile":"6a77b178.df07e8","hysteresisplus":"0","hysteresisminus":"0","x":370,"y":1000,"wires":[["a3b341c.2ab80c","9fcbb93a.60f3e8","563459e7.d0342"],[],[]]},{"id":"9d1b6e5.315cd9","type":"mqtt out","z":"53b9a091.ecbea","name":"","topic":"/heating/ch/currentsetpoint","qos":"","retain":"true","broker":"b113ebbe.a57308","x":900,"y":1100,"wires":[]},{"id":"fed651de.a355b","type":"inject","z":"53b9a091.ecbea","name":"Regular Update","topic":"","payload":"12","payloadType":"num","repeat":"300","crontab":"","once":true,"onceDelay":"10","x":130,"y":940,"wires":[["45f80775.8a3b78"]]},{"id":"ec015861.fe7d68","type":"debug","z":"53b9a091.ecbea","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":1040,"wires":[]},{"id":"2e91f837.45dee8","type":"mqtt out","z":"53b9a091.ecbea","name":"","topic":"/heating/ch/power_command","qos":"","retain":"true","broker":"b113ebbe.a57308","x":910,"y":880,"wires":[]},{"id":"a3b341c.2ab80c","type":"change","z":"53b9a091.ecbea","name":"Change Boolean to ON/OFF","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"ON","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":920,"wires":[["2e91f837.45dee8","ec015861.fe7d68"]]},{"id":"bc875e78.77c6","type":"inject","z":"53b9a091.ecbea","name":"Set Weekday Profile","topic":"setProfile","payload":"Central Heating Timer (Weekday)","payloadType":"str","repeat":"","crontab":"01 00 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"x":140,"y":1000,"wires":[["45f80775.8a3b78"]]},{"id":"32b0fd02.efa442","type":"inject","z":"53b9a091.ecbea","name":"Set Weekend Profile","topic":"setProfile","payload":"Central Heating Timer (Weekend)","payloadType":"str","repeat":"","crontab":"01 00 * * 6,0","once":false,"onceDelay":0.1,"x":140,"y":1040,"wires":[["45f80775.8a3b78"]]},{"id":"5a71a862.ad98e8","type":"comment","z":"53b9a091.ecbea","name":"Flow to mimic thermostat","info":"","x":130,"y":900,"wires":[]},{"id":"5248fbc2.ea6d94","type":"server-state-changed","z":"3ab1b3d8.bd433c","name":"BLE Hub Disconnect","server":"a4a1abdf.7ba5b8","version":1,"entityidfilter":"binary_sensor.ble_sensor_hub","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":610.1476440429688,"y":42.1767578125,"wires":[["2a8dfd7b.70bed2"],[]]},{"id":"1b38f0d2.3cbe0f","type":"api-call-service","z":"3ab1b3d8.bd433c","name":"Notification to Mark's Phone","server":"a4a1abdf.7ba5b8","service_domain":"notify","service":"ios_marks_iphone","data":"{\"message\":\"The BLE hub has been disconnected\",\"title\":\"BLE Hub disconnected\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1130.1476440429688,"y":2.1767578125,"wires":[[]]},{"id":"41627a10.e348f4","type":"api-current-state","z":"3ab1b3d8.bd433c","name":"BLE Hub Connection Check","server":"a4a1abdf.7ba5b8","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.ble_sensor_hub","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":870.1476440429688,"y":142.1767578125,"wires":[["1b38f0d2.3cbe0f","8f883d4e.8b83b"],[]]},{"id":"2a8dfd7b.70bed2","type":"delay","z":"3ab1b3d8.bd433c","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":750.1476440429688,"y":82.1767578125,"wires":[["41627a10.e348f4"]]},{"id":"54f683b5.06b33c","type":"inject","z":"3ab1b3d8.bd433c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":890.1476440429688,"y":2.1767578125,"wires":[["1b38f0d2.3cbe0f","8f883d4e.8b83b"]]},{"id":"8f883d4e.8b83b","type":"api-call-service","z":"3ab1b3d8.bd433c","name":"Notification to HASS App","server":"a4a1abdf.7ba5b8","service_domain":"persistent_notification","service":"create","data":"{\"message\":\"The BLE hub has been disconnected\",\"title\":\"BLE Hub disconnected\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1120.1476440429688,"y":62.1767578125,"wires":[[]]},{"id":"5f540192.d4611","type":"inject","z":"3ab1b3d8.bd433c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":550.1476440429688,"y":102.1767578125,"wires":[["2a8dfd7b.70bed2"]]},{"id":"c6817a46.06d288","type":"inject","z":"53b9a091.ecbea","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":520,"y":840,"wires":[["42f1fd83.a3a854"]]},{"id":"485bccb6.41c044","type":"inject","z":"53b9a091.ecbea","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":500,"y":700,"wires":[["25fae2d4.1ff63e"]]},{"id":"12661a7e.9bdcc6","type":"debug","z":"53b9a091.ecbea","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":920,"y":820,"wires":[]},{"id":"c67cb14f.ea276","type":"server-state-changed","z":"3ab1b3d8.bd433c","name":"Sonoff Hub Disconnect","server":"a4a1abdf.7ba5b8","version":1,"entityidfilter":"binary_sensor.sonoff_rf_bridge","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"off, unavailable","halt_if_type":"str","halt_if_compare":"includes","outputs":2,"output_only_on_state_change":true,"x":1190,"y":140,"wires":[["42f710ea.d84cc"],[]]},{"id":"a929f9ff.f2ff8","type":"api-call-service","z":"3ab1b3d8.bd433c","name":"Notification to Mark's Phone","server":"a4a1abdf.7ba5b8","service_domain":"notify","service":"ios_marks_iphone","data":"{\"message\":\"The Sonoff RF hub has been disconnected\",\"title\":\"Sonoff RF Hub disconnected\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1700,"y":100,"wires":[[]]},{"id":"ebc5f23d.2a8c58","type":"api-current-state","z":"3ab1b3d8.bd433c","name":"Sonoff RF Hub Connection Check","server":"a4a1abdf.7ba5b8","version":1,"outputs":2,"halt_if":"navailable","halt_if_type":"str","halt_if_compare":"includes","override_topic":false,"entity_id":"binary_sensor.sonoff_rf_bridge","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1440,"y":240,"wires":[["a929f9ff.f2ff8","bf61d608.6abff"],[]]},{"id":"42f710ea.d84cc","type":"delay","z":"3ab1b3d8.bd433c","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1320,"y":180,"wires":[["ebc5f23d.2a8c58"]]},{"id":"754b2cc6.a0a3ec","type":"inject","z":"3ab1b3d8.bd433c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1460,"y":100,"wires":[["a929f9ff.f2ff8","bf61d608.6abff"]]},{"id":"bf61d608.6abff","type":"api-call-service","z":"3ab1b3d8.bd433c","name":"Notification to HASS App","server":"a4a1abdf.7ba5b8","service_domain":"persistent_notification","service":"create","data":"{\"message\":\"The BLE hub has been disconnected\",\"title\":\"BLE Hub disconnected\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1690,"y":160,"wires":[[]]},{"id":"9fcbb93a.60f3e8","type":"change","z":"53b9a091.ecbea","name":"Change Boolean to 25/0","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"23.0","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0.0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1060,"wires":[["9d1b6e5.315cd9","ec015861.fe7d68"]]},{"id":"87204e2e.e2d5d","type":"mqtt out","z":"53b9a091.ecbea","name":"","topic":"/heating/ch/mode_state","qos":"","retain":"true","broker":"b113ebbe.a57308","x":950,"y":980,"wires":[]},{"id":"3c6d7399.451e7c","type":"server-state-changed","z":"53b9a091.ecbea","name":"","server":"a4a1abdf.7ba5b8","version":1,"entityidfilter":"sensor.day_room_temperature","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":190,"y":1200,"wires":[["f38fa315.6cee68","39dc68c5.ebc968"]]},{"id":"f38fa315.6cee68","type":"mqtt out","z":"53b9a091.ecbea","name":"","topic":"/heating/ufh/temperature","qos":"","retain":"","broker":"b113ebbe.a57308","x":530,"y":1200,"wires":[]},{"id":"2162de45.c73362","type":"comment","z":"53b9a091.ecbea","name":"Use temp sensors for climate","info":"","x":160,"y":1140,"wires":[]},{"id":"39dc68c5.ebc968","type":"debug","z":"53b9a091.ecbea","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":1160,"wires":[]},{"id":"7dd71952.6b50d","type":"server-state-changed","z":"53b9a091.ecbea","name":"","server":"a4a1abdf.7ba5b8","version":1,"entityidfilter":"sensor.kitchen_temperature","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":190,"y":1280,"wires":[["5667dbab.ac3724"]]},{"id":"5667dbab.ac3724","type":"mqtt out","z":"53b9a091.ecbea","name":"","topic":"/heating/ch/temperature","qos":"","retain":"","broker":"b113ebbe.a57308","x":510,"y":1280,"wires":[]},{"id":"563459e7.d0342","type":"change","z":"53b9a091.ecbea","name":"Change Boolean to Heat/auto","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"heat","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"auto","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":960,"wires":[["87204e2e.e2d5d"]]},{"id":"54cfea8f.d02efc","type":"inject","z":"53b9a091.ecbea","name":"","topic":"","payload":"heat","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":830,"y":940,"wires":[["87204e2e.e2d5d"]]},{"id":"55a0f17f.6e6258","type":"api-call-service","z":"7c38d180.0695d","name":"","server":"a4a1abdf.7ba5b8","service_domain":"homeassistant","service":"restart","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":220,"y":400,"wires":[[]]},{"id":"870a43c1.1c5ae8","type":"inject","z":"7c38d180.0695d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":340,"wires":[["55a0f17f.6e6258"]]}]